{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "globals": {
    "__DEV__": false,
    "API_URL": false,
    "APP_ENV": false,
    "GIPHY_API_KEY": false,
    "MAIN_HOST": false,
    "RR_URL": false,
    "S3_URL": false
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "new-cap": 0,
    "no-var": 2,
    "prefer-const": 2,
    "quotes": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "semi": [2, "never"],
    "strict": [2, "never"]
  }
}
