.transition-stagger > div {
  float: left;
  opacity: 0;
  transform: translateY(-100px);
  transition: var(--time-1) transform ease-in-out,
              var(--time-1) opacity ease-in-out;
}

.transition-stagger--focused > div {
  opacity: 1;
  transform: translateY(0px);
}

.transition-stagger :nth-child(2) { transition-delay: 30ms; }
.transition-stagger :nth-child(3) { transition-delay: calc(2 * 60ms); }
.transition-stagger :nth-child(4) { transition-delay: calc(3 * 60ms); }
.transition-stagger :nth-child(5) { transition-delay: calc(4 * 60ms); }
.transition-stagger :nth-child(6) { transition-delay: calc(5 * 60ms); }
.transition-stagger :nth-child(7) { transition-delay: calc(6 * 60ms); }
.transition-stagger :nth-child(8) { transition-delay: calc(7 * 60ms); }
