@import 'basscss';

/* Utilities */
@import 'utilities/colors';
@import 'utilities/no_select';
@import 'utilities/pill';
@import 'utilities/pointer';
@import 'utilities/shadow';
@import 'utilities/sticky';
@import 'utilities/transition';
@import 'utilities/typography';
@import 'utilities/underline';
@import 'utilities/visible_hover';
@import 'utilities/whitespace';
@import 'utilities/syntax_highlight'

/* Components */
@import 'components/button';
@import 'components/comment';
@import 'components/field_light';
@import 'components/field';
@import 'components/headings';
@import 'components/input';
@import 'components/list';
@import 'components/loading_bar';
@import 'components/markdown';
@import 'components/navbar';
@import 'components/p';
@import 'components/popover';
@import 'components/stack';
@import 'components/strong';
@import 'components/upvote_toggler';
@import 'components/pinned_post';


:root {
  --blue: #11A3B7;
  --yellow: #F9C933;
  --green: #93B945;
  --orange: #FF6846;

  --black: #222;
  --charcoal: #444851;
  --gray: #A3A6AD;
  --silver: #DEE0E3;
  --smoke: #FAF9F8;
  --white: #FFF;

  --twitter-blue: #55ACEE;

  /* Deprecated */
  --whitesmoke: var(--smoke);
  --silversmoke: var(--whitesmoke);

  --darken-1: #00000010;
  --darken-2: #00000020;
  --darken-3: #00000040;
  --darken-4: #00000080;

  --lighten-1: #FFFFFF10;
  --lighten-2: #FFFFFF20;
  --lighten-3: #FFFFFF40;
  --lighten-4: #FFFFFF80;

  --bold-font-weight: 500;
  --heading-font-weight: 400;
  --button-font-weight: 500;
  --container-width: 52rem;

  --link-color: var(--orange);
  --link-text-decoration: none;
  --link-hover-text-decoration: none;

  /*--h1: 2.25rem;*/
  --paragraph-line-height:1.75;

  --h00: 3.75rem;

  --time-1: 150ms;
  --time-2: 300ms;
  --time-3: 600ms;
  --time-4: 1200ms;

  --border-color: var(--silver);

  --font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --heading-font-family: var(--font-family);
}
