@import 'basscss';

/* Base */
@import 'base/typography';

/* Utilities */
@import 'utilities/color';
@import 'utilities/pill';
@import 'utilities/pointer';
@import 'utilities/shadow';
@import 'utilities/typography';
@import 'utilities/whitespace';

/* Components */
@import 'components/button';
@import 'components/comment';
@import 'components/emoji';
@import 'components/list';
@import 'components/loading_bar';
@import 'components/markdown';
@import 'components/navbar';
@import 'components/popover';
@import 'components/stack';
@import 'components/table';

:root {
  --blue: #00A3B9;
  --red: #EF5444;
  --green: #93BD16;
  --yellow: #FCCB0E;
  --navy: #205B67;
  --orange: #FE6600;

  --smoke: #F3F2F1;

  --bold-font-weight: 600;
  --heading-font-weight: 400;
  --button-font-weight: 500;
  --container-width: 52rem;

  --link-color: var(--orange);
  --link-text-decoration: none;
  --link-hover-text-decoration: none;

  --h1: 2.25rem;

  --time-1: 150ms;
  --time-2: 300ms;
  --time-3: 600ms;
  --time-4: 1200ms;

  --border-color: var(--smoke);

  --font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --heading-font-family: var(--font-family);
}
