/*
  TODO (@chrislloyd) This is a hack for putting emojis in the labels of
  stories in the timeline. This should be far more general.
*/
.emoji {
  width: 100%;
  display: block;
}

.emoji-container--sm > div > .emoji {
  width: 1.25rem;
}

.emoji-container--sm > .emoji-count {
  margin-left: .5em;
  color: var(--silver);
  font-size: var(--h5);
}

.emoji-container--lg {
  width: var(--h1);
}

.emoji-container--lg > .emoji-count {
  margin-top: var(--space-1);
}

.emoji-container--hearted > div > .emoji {
  opacity: .2;
}
