.markdown > p:last-child {
  margin-bottom: 0;
}

.markdown > blockquote {
  border-left: 2px solid var(--silver);
}

.markdown img {
  border: 1px solid var(--border-color);
  padding: 1px;
  border-radius: var(--border-radius);
  display: block;
}

.markdown h1 {
  font-size: var(--h3);
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: var(--h4);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 500;
}
