.markdown {
  margin-bottom: calc(0 - var(--space-2));
}

.markdown > blockquote {
  border-left: 2px solid var(--silver);
}

.markdown > blockquote,
.markdown > blockquote p {
  font-size: var(--h4);
}

.markdown img {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: block;
  margin-bottom: var(--space-2);
  padding: 2px;
}

.markdown h1 {
  font-size: var(--h3);
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: var(--h4);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 500;
}
