.stack-item {
  transition: margin-left var(--time-2),
              margin-right var(--time-2);
}

/* --- */

.stack--left:hover {
  margin-right: -var(--border-width);
}

.stack--left > .stack-item {
  margin-right: -2.5%;
}

.stack--left:hover > .stack-item {
  margin-right: var(--border-width);
}


/* --- */

.stack--right {
  flex-direction: row-reverse;
}

.stack--right:hover {
  margin-left: -var(--border-width);
}

.stack--right > .stack-item {
  margin-left: -2.5%;
}

.stack--right:hover > .stack-item {
  margin-left: var(--border-width);
}
