.story {
  transition: box-shadow var(--time-1),
              margin var(--time-1),
              padding var(--time-1);
  border-radius: var(--border-radius);
  overflow: hidden;
  will-change: box-shadow, margin;
}

.story--opened {
  margin: var(--space-3) -var(--space-3);
  padding: var(--space-3);
  box-shadow: 0 0 0 1px var(--silver),
              0 0 1rem 0 var(--silver);
}
